<!--header-->
<div class="header-container">
    <div class="row">
        <div class="title-col col-12 text-center">
            <h1 class="developer">Software Developer</h1>
            <h1 class="my-name">Francisco Moreno</h1>
            <p>Full Stack <span style="color: #c3002f;">Angular</span> & <span style="color: #6DB33F;">SpringBoot</span>
            </p>
            <a href="https://www.linkedin.com/in/francisco-moreno-santaella-50302522b/" target="_blank" role="button" class="btn btn-primary">LinkedIn</a>
            <a href="https://github.com/FranciscoMorenoSantaella" target="_blank" role="button" class="btn btn-primary">Github</a>
            <p>Tecnologías con las que he trabajado:</p>
            <img src="https://devicon-website.vercel.app/api/angularjs/original.svg">
            <img src="https://devicon-website.vercel.app/api/spring/original.svg">
            <img src="https://devicon-website.vercel.app/api/java/original.svg">
            <img src="https://devicon-website.vercel.app/api/ionic/original.svg">
            <img src="https://devicon-website.vercel.app/api/postgresql/original.svg">
            <img src="https://devicon-website.vercel.app/api/mysql/original.svg">
            <img src="https://devicon-website.vercel.app/api/docker/original.svg">
            <img src="https://devicon-website.vercel.app/api/androidstudio/original.svg">
            <img src="https://devicon-website.vercel.app/api/typescript/original.svg">
            <img src="https://devicon-website.vercel.app/api/javascript/original.svg">
            <img src="https://devicon-website.vercel.app/api/html5/original.svg">
            <img src="https://devicon-website.vercel.app/api/css3/original.svg">
            <img src="https://devicon-website.vercel.app/api/sass/original.svg">
            <img src="https://devicon-website.vercel.app/api/c/original.svg">
            <img src="https://devicon-website.vercel.app/api/unity/original.svg">
        </div>
    </div>
</div>