<div class="row">
    <div class="col-12 text-center">
        <h2 style="margin-bottom: 20px;" class="text-center">Sobre mi</h2>
        <img src="assets/profile.jpg" style="max-width: 300px;" alt="">
    </div>
    <div class="col-12">


        <h3 style="margin-top: 20px;">Lo que busco</h3>

        <p>Hola, soy <span>Francisco Moreno</span>, un desarrollador de software con <span>más de 8 meses de
                experiencia</span> en el entorno
            laboral y <span>con muchas ganas de aportar</span> con mi trabajo y conocimientos a una empresa. He
            trabajado en proyectos tanto de Backend, donde diseño y desarrollo <span>APIs eficientes</span> y estructuro
            <span>bases de datos robustas</span>, como en Frontend, creando <span>interfaces intuitivas</span> para
            aplicaciones web y
            multiplataforma. Mi enfoque está en ofrecer soluciones completas que combinan funcionalidad y diseño,
            siempre <span>adaptándome a las necesidades de cada proyecto</span>.


        </p>

        <h3>Titulación</h3>

        <p>También destacar mi titulación tanto de <span>Técnico superior en Desarrollo de aplicaciones web</span> y <span>Técnico superior
            en Desarrollo de aplicaciones multiplataforma</span></p>

        <h3>Un poco mas sobre mi <i class="fa fa-microchip" aria-hidden="true"></i></h3>
        <p>Entre mis <span>hobbies</span>, disfruto ver series y películas, así como pasar tiempo jugando con mis mascotas.</p>
    </div>
</div>