<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center w-100">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a style="text-decoration: none;" href="#inicio"><span class="nav-link">FMS</span></a></li>

                <li class="nav-item">
                    <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobremi">Sobre mi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>