/* You can add global styles to this file, and also import other style files */
p{
    color: #afbaba !important;
}

/* Evitar scroll vertical en toda la página */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    height: 100%; /* Asegura que el contenido no exceda la altura */
  }
  

 h2{
    color: #ec8833;
    text-align: center;
}


section{
    padding-top: 50px; 
    padding-bottom: 50px;
}